/*fawn*/
.fawn-st3{fill:#F4C6A6;}

/*sable*/
.sable-st0{fill:#844B24;}

/*black-tan*/
.black-st1{fill:#52595F;}

/*common*/
.red-st2,
.fawn-st2,
.sable-st2,
.black-st3{fill:#2D3339;}

.black-st2,
.sable-st1,
.fawn-st1,
.red-st1{fill:#FBFEFF;}

.black-st0,
.sable-st3,
.red-st0{fill:#BA8058;}

.fawn-st0,
.red-st3{fill:#EAAA7F;}